<section class="content">
  <div class="container">
    <div class="content__wrap">
      <h2 class="content__card-title">Новости Болгарии</h2>
      <div class="content__card">
        <iframe
          class="content__card-iframe"
          src="https://meromasdet.rest/"
          frameborder="0"
          scrolling="auto"
        >
        </iframe>
        <a class="content__card-button" href="https://meromasdet.rest/"
          >Подробнее</a
        >
        <p class="content__card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rerum
          aliquam fuga numquam omnis! Sunt, inventore, officiis id cumque
          provident quisquam culpa facilis labore accusantium quia possimus
          consequuntur suscipit tenetur minima dolore eum nobis nemo quos sed.
          Expedita odit pariatur placeat consequuntur saepe tenetur quasi
          provident? Aperiam officiis numquam reprehenderit?
        </p>
      </div>
      <h2 class="content__card-title">Новости Болгарии</h2>
      <div class="content__card revers">
        <iframe
          class="content__card-iframe"
          src="https://meromasdet.rest/"
          frameborder="0"
          scrolling="auto"
        >
        </iframe>
        <a class="content__card-button" href="https://meromasdet.rest/"
          >Подробнее</a
        >
        <p class="content__card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum rerum
          aliquam fuga numquam omnis! Sunt, inventore, officiis id cumque
          provident quisquam culpa facilis labore accusantium quia possimus
          consequuntur suscipit tenetur minima dolore eum nobis nemo quos sed.
          Expedita odit pariatur placeat consequuntur saepe tenetur quasi
          provident? Aperiam officiis numquam reprehenderit?
        </p>
      </div>
    </div>
  </div>
</section>
