<header class="header">
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__item-link" href="#">About me</a>
                </li>
                <li class="header__item">
                    <a class="header__item-link" href="#">News</a>
                </li>
                <li class="header__item">
                    <a class="header__item-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
</header>