.header {
    position: fixed;
    right: 0;
    top: 0;

    width: 100%;
    z-index: $header-z-index;
    &__nav {
        background-color: rgb(195, 195, 195);
        min-height: 30px;
        display: flex;
        justify-content: center;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        white-space: nowrap;
    }
}
@media (min-width: 999px) {
    .header {
        position: fixed;
        right: 0;
        top: 0;

        width: calc(100% - #{$sliderbar-width});
        z-index: $header-z-index;
        &__nav {
            background-color: rgb(195, 195, 195);
            min-height: 30px;
            display: flex;
            justify-content: center;
        }
        &__list {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;
            white-space: nowrap;
        }
    }
}
